.navbar{
    background-color: pink;  
    display: flex;
    justify-content: space-evenly;
    
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

#form{
    display: flex;
    justify-content: center;
    
}

.outer{
    height: 800px;
    width: 800px;
    background-color: blueviolet;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner{
    height: 700px;
    width: 700px;
    background-color: salmon;
    text-align: center;
    
}

